body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
header {
    background-color: #a8e1a58d;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
nav {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    text-align: center;
}
nav a {
    color: #333;
    text-decoration: none;
    padding: 10px 20px;
    transition: color 0.3s;
}
nav a:hover {
    color: #2874f0;
}
.container {
    max-width: 90%;
    max-height: 3000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
    color: #333;
}
.faq-item {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    padding: 25px 30px;
}
.question {
    font-weight: bold;
    font-size: 25px;
    cursor: pointer;
    font-style: italic;
    color: #333;
    margin-bottom: 10px;
}
.answer {
    display: none;
    font-size: 23px;
    margin-top: 10px;
    color: #666;
}
.arrow {
    display: inline-block;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-bottom-color: #333;
    margin-right: 5px;
    transition: transform 0.3s ease;
}
.open {
    transform: rotate(180deg);
}
footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #2874f0;
    color: #fff;
    border-radius: 8px;
}
